<% @current_tab = 'history' %>

<h2>Query History</h2>
<div>
  <h6>
    <a href=<%= url('/clear_history')%>> Clear Old One Off Queries </a>
  </h3>
<table class="table">
  <thead>
    <th></th>
    <th>Timestamp</th>
    <th>Query</th>
    <th>Author</th>
    <th></th>
  </thead>
  <tbody id="history">
    <% @queries.queries.each do |query| %>
      <tr>
        <td class="status"><span class="indicator indicator-<%= query.status %>">*</span></td>
        <td class="date"><%= query.formatted_start_time %></td>
        <td>
          <a href="<%= url("/queries/#{query.id}")%>"><%= query.description %></a>
        </td>
        <td class="author">
          <%= query.author %>
        </td>
        <td>
          <a class="delete" href="<%= url("/queries/#{query.id}") %>"><i class="icon-remove"></i></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h6>
  Page <%= @page + 1 %> of <%= @total_pages %>
</h6>

<% (1..@total_pages).each do |i| %>
  <a href="<%= url("/history?page=#{i}")%>">Page <%= i %></a>
<% end %>

